<header class= 'page-header'>
  <div class= 'left-header'>
    <%= link_to '旅Log', "/", class: 'main-icon'%>
  </div>
  <div class= 'right-header'>
    <ul class='list-right'>
      <%if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname"%></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%></li>
        <li><%= link_to '新規投稿', new_log_path, class: "new-post"%></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login"%></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up"%></li>
      <% end %>
    </ul>
  </div>
</header>