<%= render "shared/header" %>
  <div class= "new_main">
    <div class = "new_inner">
    <h2 class="new_log_post">新規投稿</h2>
      <%= form_with model: @log, local: true do |f|%>
        <div class="field">
          <%= f.label :image, "旅先の画像" %><br />
          <%= f.file_field :image, id:"log_image" %>
        </div>

        <div class="field">
          <%= f.label :place, "旅した場所" %><br />
          <%= f.text_field :place, id:"log_place" %>
        </div>

        <div class="field">
          <%= f.label :description, "場所の説明" %><br />
          <%= f.text_area :description, class: :form_text, id:"log_description" %>
        </div>

        <div>
          <%= f.label :point, "おすすめのポイント" %><br />
          <%= f.text_area :point, class: :form_text, id:"log_point" %>
        </div>

        <div class="actions">
          <%= f.submit "投稿する", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
<%= render "shared/footer" %>